<h1>Fun story</h1>
<p>post a story about a funny thing that happen to you and choose for them to be read by the world or set them to be private</p>
{{#if user}}
{{else}}
<a href="/auth/google" class='red darken-1 btn z-depth-5'><i class="fab fa-google left"></i> login with Google </a>

{{/if}}