  <footer class="page-footer indigo darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Fun Story</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                 <li><a class="grey-text text-lighten-3" href="#!" ><i class="far fa-user"></i> About me</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.github.com/deepdownlow" target='_blank'><i class="fab fa-github"></i> Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://linkedin.com/in/sina-keshmiri" target='_blank'><i class="fab fa-linkedin-in" target='_blank'></i> Linkedin</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><i class="far fa-envelope"></i> Email: sina.keshmiri@gmail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Fun Story
            </div>
          </div>
        </footer>